/**
* 
* TABLE OF CONTENT
* --------
*	=LAYOUT
*	=DEBUG
*/
/* ===LAYOUT=== */
.list[data-v-11117124] {
  max-width: 90%;
  margin: auto;
  display: flex;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
.list-collection[data-v-11117124] {
  margin-top: 10px;
}
.list-item[data-v-11117124] {
  max-width: 48%;
}
.item[data-v-11117124] {
  border-radius: 3px;
  display: flex;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.item[data-v-11117124]:before {
  content: "";
  display: block;
  height: 0;
  padding-top: 100%;
}
.thumb[data-v-11117124] {
  border-radius: 3px;
}
.label[data-v-11117124] {
  position: absolute;
  z-index: 1;
  color: #fff;
  width: 70%;
  text-align: center;
  font-weight: 700;
}
/* ===DEBUG=== */

