/**
* TABLE OF CONTENT
* --------
*  - LAYOUT
*  - DEBUG
*  - NO_SCOPE
*/
.page[data-v-0c81a578] {
  display: flex;
  flex-direction: column;
  -ms-justify-content: center;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  padding-top: 20%;
}
.title[data-v-0c81a578] {
  font-family: 'Martel Sans', Helvetica, Arial, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  font-size: 2.6rem;
  text-align: center;
}
@media only screen and (max-width: 768px) {
.title[data-v-0c81a578] {
    font-size: 1.5rem;
}
}
@media only screen and (max-width: 768px) {
.title[data-v-0c81a578] {
    font-size: 2rem;
}
}
.description[data-v-0c81a578] {
  margin-top: 2em;
}
.description[data-v-0c81a578] a {
  text-decoration: underline;
}


