/**
* 
* TABLE OF CONTENT
* --------
*	=LAYOUT
*	=DEBUG
*/
/* ===LAYOUT=== */
.Card[data-v-24f0815e] {
  max-width: 48%;
}
.item[data-v-24f0815e] {
  border-radius: 3px;
  display: flex;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.item[data-v-24f0815e]:before {
  content: "";
  display: block;
  height: 0;
  padding-top: 100%;
}
.item.-disabled[data-v-24f0815e] {
  pointer-events: none;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  opacity: 0.5;
}
.thumb[data-v-24f0815e] {
  border-radius: 3px;
}
.label[data-v-24f0815e] {
  position: absolute;
  z-index: 1;
  color: #fff;
  width: 70%;
  text-align: center;
  font-weight: 700;
}
/* ===DEBUG=== */

/**
* 
* TABLE OF CONTENT
* --------
*	=LAYOUT
*	=DEBUG
*/
/* ===LAYOUT=== */
.list[data-v-63c481bc] {
  max-width: 90%;
  margin: auto;
  display: flex;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
  -ms-justify-content: space-between;
  justify-content: space-between;
  flex-wrap: wrap;
}
.list-collection[data-v-63c481bc] {
  margin-top: 10px;
}
.title.bot[data-v-63c481bc] {
  margin-top: 40px;
}
.btn-bot[data-v-63c481bc] {
  margin-top: 30px;
  margin-bottom: 90px;
}
/* ===DEBUG=== */

