/**
* 
* TABLE OF CONTENT
* --------
*	=LAYOUT
*	=DEBUG
*/
/* ===LAYOUT=== */
.Bot[data-v-6966bbec] {
  height: 100%;
  overflow: hidden;
}
iframe[data-v-6966bbec] {
  width: 100%;
  height: calc(100% + 110px);
  -webkit-transform: translateY(-110px);
  transform: translateY(-110px);
}
/* ===DEBUG=== */

