@import url(https://fonts.googleapis.com/css?family=Martel+Sans:400,700,800);
/**
 * TABLE OF CONTENT
 * --------
 *  - LAYOUT
 *  - DEBUG
 *  - NO_SCOPE
 */
.TheHeader[data-v-763c6d6c] {
  position: relative;
  background: #fff;
}
.header-block[data-v-763c6d6c] {
  padding-top: 10px;
  padding-bottom: 8px;
}
.app-name[data-v-763c6d6c] {
  width: 100%;
  color: #000;
  text-align: center;
}
.helper[data-v-763c6d6c] {
  position: absolute;
  right: 15px;
  top: 10px;
  color: #7dc9dd;
  font-weight: 600;
}
.back[data-v-763c6d6c] {
  position: absolute;
  left: 15px;
  top: 10px;
}

/**
 * TABLE OF CONTENT
 * --------
 *  - LAYOUT
 *  - DEBUG
 *  - NO_SCOPE
 */
.TheFooter[data-v-26512a83] {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  max-width: 414px;
}
.footer-icon[data-v-26512a83] {
  display: flex;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
}
.item[data-v-26512a83] {
  display: flex;
  flex-direction: column;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-align-items: stretch;
  align-items: stretch;
  -ms-align-items: center;
  align-items: center;
  width: 33%;
}
.item img[data-v-26512a83] {
  width: 20px;
  height: 20px;
}
.item p[data-v-26512a83] {
  font-size: 1.4rem;
  margin-top: 5px;
  color: #7dc9dd;
}
@media only screen and (max-width: 768px) {
.item p[data-v-26512a83] {
    font-size: ;
}
}

.line[data-v-77e57251] {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  background: #000;
}

/**
 * =LAYOUT
 * =DEBUG
 */
/* ===LAYOUT=== */
#App[data-v-f3e7320e] {
  max-width: 414px;
  margin: auto;
}
.app[data-v-f3e7320e] {
  font-family: 'Martel Sans', sans-serif;
  line-height: 1.25;
  font-size: 1.6rem;
}
@media only screen and (max-width: 768px) {
.app[data-v-f3e7320e] {
    font-size: 1.6rem;
}
}
/* ===DEBUG=== */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  height: 100%;
  font-size: 10px;
}
body {
  height: 100%;
  font-size: 100%;
  color: #000;
  background: #f4f4f4;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
  font-family: 'Martel Sans', sans-serif;
  line-height: 1.25;
  font-size: 1.6rem;
}
@media only screen and (max-width: 768px) {
  p {
    font-size: 1.6rem;
  }
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  display: inline-block;
  max-width: 100%;
  outline: none;
}
svg {
  display: block;
  width: 100%;
  height: 100%;
}
button,
.btn-bot {
  width: 100%;
  border: none;
  background: #7dc9dd;
  padding: 10px;
  border-radius: 3px;
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-duration: 0.4s;
  transition-property: all;
}
@media only screen and (max-width: 768px) {
  button,
  .btn-bot {
    font-size: ;
  }
}
button:focus,
.btn-bot:focus {
  outline: none;
}
.bot-helper {
  width: 100%;
  margin: 30px auto 0;
  display: flex;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -ms-align-items: flex-end;
  align-items: flex-end;
}
.bot-helper .icon {
  width: 40px;
  height: 40px;
}
.bot-helper .choice {
  width: auto;
  background-color: #ecf0f1;
  color: #41afc4;
  text-align: left;
  margin: 5px 0 0 15px;
  border-radius: 20px;
  font-weight: 700;
}
.bot-helper .choice:focus {
  background-color: #89dfc4;
  color: #fff;
}
.bot-helper >div {
  width: calc(100% - 40px);
}
.bot-helper .final-link {
  position: relative;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-align-items: stretch;
  align-items: stretch;
  -ms-justify-content: center;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  border-radius: 3px;
  overflow: hidden;
}
.bot-helper .final-link .label {
  position: absolute;
  color: #fff;
  font-weight: 800;
}
.bot-helper .final-link img {
  overflow: hidden;
  position: relative;
}
.bot-helper .final-link img:before {
  content: "";
  display: block;
  height: 0;
  padding-top: 100%;
}
.info-bulle {
  width: 210px;
  max-width: 207px;
  padding: 10px;
  margin-left: 15px;
  background-color: #ecf0f1;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  font-size: 1.4rem;
}
@media only screen and (max-width: 768px) {
  .info-bulle {
    font-size: 1.4rem;
  }
}
.icon.bot {
  border-radius: 50%;
  background: url("/static/boto.svg");
  background-size: cover;
}
.input-container {
  position: relative;
  width: 100%;
}
.input-container.loc:after {
  content: url("/static/position.svg");
  height: 23px;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  margin: auto;
}
.input-container .input {
  width: 100%;
  height: 100%;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  margin: 30px auto;
  font-size: 1.9rem;
  border-radius: 3px;
  border: none;
  color: #808080;
  box-shadow: 0 0 3px 0px rgba(0,0,0,0.2);
}
@media only screen and (max-width: 768px) {
  .input-container .input {
    font-size: 1.9rem;
  }
}
.input-container .input:focus {
  outline: none;
}
.app {
  min-height: var(--viewport-height);
  display: flex;
  flex-direction: column;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-align-items: stretch;
  align-items: stretch;
  -webkit-overflow-scrolling: touch;
}
.app.-no-scroll {
  overflow: hidden;
}
.app > .page {
  width: 100%;
  -ms-flex-grow: 1;
  flex-grow: 1;
  background: #f4f4f4;
  margin-bottom: 82px;
}
.app .header {
  display: flex;
  flex-direction: column;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-align-items: stretch;
  align-items: stretch;
  -ms-align-items: center;
  align-items: center;
  width: 90%;
  margin: auto;
}
.app .logo {
  position: relative;
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #41afc4;
  display: flex;
  flex-direction: column;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-align-items: stretch;
  align-items: stretch;
  -ms-justify-content: center;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  color: #fff;
  margin-top: 50px;
}
.app .logo.robot img {
  width: 140px;
  height: 140px;
}
.app .logo.robot:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("/static/border.png");
  background-size: cover;
  -webkit-animation: rotate 5s infinite;
  animation: rotate 5s infinite;
}
.app .container {
  display: flex;
  flex-direction: column;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-align-items: stretch;
  align-items: stretch;
  -ms-align-items: center;
  align-items: center;
}
.app .container.is-intro .btn {
  margin-top: 20px;
}
.app .title {
  text-align: center;
  color: #000;
  margin-top: 30px;
  font-weight: 800;
  font-size: 2rem;
  width: 80%;
}
@media only screen and (max-width: 768px) {
  .app .title {
    font-size: 2rem;
  }
}
::-webkit-input-placeholder {
  color: #d9d9d9;
  -ms-filter: none;
  -webkit-filter: none;
          filter: none;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #d9d9d9;
  -ms-filter: none;
  filter: none;
  opacity: 1;
}
::-ms-input-placeholder {
  color: #d9d9d9;
  -ms-filter: none;
  filter: none;
  opacity: 1;
}
::placeholder {
  color: #d9d9d9;
  -ms-filter: none;
  -webkit-filter: none;
          filter: none;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #d9d9d9;
}
::-ms-input-placeholder {
  color: #d9d9d9;
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
._container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 1400px) {
  ._container {
    max-width: calc(100% - 120px);
  }
}
@media only screen and (max-width: 1024px) {
  ._container {
    max-width: calc(100% - 90px);
  }
}
@media only screen and (max-width: 600px) {
  ._container {
    max-width: calc(100% - 30px);
  }
}
@media only screen and (max-width: 1279px) {
  ._desktop {
    display: none !important;
  }
}
@media only screen and (min-width: 1280px) {
  ._not-desktop {
    display: none !important;
  }
}
@media only screen and (min-width: 600px) {
  ._mobile {
    display: none !important;
  }
}
._scrollable,
.[data-scrollable] {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
._scrollable[data-scroll-enabled='false'],
.[data-scrollable][data-scroll-enabled='false'] {
  overflow: hidden;
}
._nl2br {
  white-space: pre-wrap;
}
.wysiwyg {
  font-family: 'Martel Sans', sans-serif;
  line-height: 1.25;
  font-size: 1.6rem;
}
@media only screen and (max-width: 768px) {
  .wysiwyg {
    font-size: 1.6rem;
  }
}
.wysiwyg > * + p,
.wysiwyg > * + ul,
.wysiwyg > * + ol {
  margin-top: 20px;
  margin-bottom: 20px;
}
.wysiwyg a {
  text-decoration: underline;
}
.wysiwyg a:hover {
  text-decoration: none;
}
.wysiwyg ul {
  list-style: outside square;
}
.wysiwyg ul li {
  margin-left: 1em;
}
.wysiwyg ol {
  list-style: outside decimal;
}
.wysiwyg ol li {
  margin-left: 1em;
}
.wysiwyg b,
.wysiwyg strong {
  font-family: 'Martel Sans', sans-serif;
  line-height: 1.25;
  font-size: 1.6rem;
  font-weight: 700;
}
@media only screen and (max-width: 768px) {
  .wysiwyg b,
  .wysiwyg strong {
    font-size: 1.6rem;
  }
}
.wysiwyg i,
.wysiwyg em {
  font-family: 'Martel Sans', sans-serif;
  line-height: 1.25;
  font-size: 1.6rem;
  font-style: italic;
}
@media only screen and (max-width: 768px) {
  .wysiwyg i,
  .wysiwyg em {
    font-size: 1.6rem;
  }
}
.wysiwyg b > i,
.wysiwyg b > em,
.wysiwyg strong > i,
.wysiwyg strong > em,
.wysiwyg i > b,
.wysiwyg i > strong,
.wysiwyg em > b,
.wysiwyg em > strong {
  font-family: 'Martel Sans', sans-serif;
  line-height: 1.25;
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 700;
}
@media only screen and (max-width: 768px) {
  .wysiwyg b > i,
  .wysiwyg b > em,
  .wysiwyg strong > i,
  .wysiwyg strong > em,
  .wysiwyg i > b,
  .wysiwyg i > strong,
  .wysiwyg em > b,
  .wysiwyg em > strong {
    font-size: 1.6rem;
  }
}
.wysiwyg sup {
  position: relative;
  top: -0.2em;
  font-size: 75%;
  line-height: 0;
  vertical-align: super;
}
.wysiwyg del {
  text-transform: line-through;
}

