// Override default KFF value here, see https://gitlab.com/kffein-interne/koddein/stylus-mixin/blob/master/lib/vars/index.styl for more details 
$kff-w-safe-margin = 60 // minimum horizontal margin for container on desktop device, if width is 100% (i.e. width < $kff-w-max)
$kff-w-safe-margin-tablet = 45 // minimum horizontal margin for container on tablet device
$kff-w-safe-margin-mobile = 15 // minimum horizontal margin for container on mobile device

@import 'kouto-swiss'

@import './colors'
@import './fonts'

// Add your custom vars here